<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Spring MVC</title>

    <style>
        @keyframes textAnimation {
            0% {
                font-size: 16px;
            }
            50% {
                font-size: 24px;
            }
            100% {
                font-size: 16px;
            }
        }

        h1 {
            animation: textAnimation 4s infinite; /* Adjust the duration as needed */
        }
    </style>
</head>
<body>
<h1>Welcome to Spring MVC</h1>
<p>This is the default landing page for your Spring MVC application.</p>
<p>Feel free to customize this page according to your needs.</p>
</body>
</html>
